* {
  --body-background-color: #ebf1f4;
  --main-background-color: #fff;
  --second-background-color: #00a683;
  --main-hover-color: #ccede6;
  --main-hover-font-color: #00a683;
  --secondary-color: #565656;
  --main-font-color: #2e384d;
  --second-font-color: #fff;
  --third-font-color: #8798ad;
}

body {
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--body-background-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dashboard{
  margin: 0 auto;
  display: flex;
}

.logo{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 25px 10px;
}

.menu{
  margin-top: 20px;
  font-size: 18px; 
}

.main{
  margin: 0 auto;
  width: 1080px;
}

/* --------------- Header --------------- */
.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 10px 40px;
  color: var(--main-font-color);
}

/* ---------- Dashboard ---------- */
.content{
  width: 100%;
  margin: 50px 0 50px 0;
  display: flex;
  gap: 50px;
}

.players{
  width: 40%;
  margin-left: 50px;
}

.playersHeader{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.iconBtn{
  width: 30px;
  height: 30px;
  font-size: 20px;
  color: #2e384d;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
}

.warning:hover{
  background-color: crimson;
  color: white;
}

.normal:hover{
  background-color: deepskyblue;
  color: white;
}


/* --------------- Modal --------------- */

.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  opacity: 0;
  transition: all 0.6s ease-in-out;
  pointer-events: none;
}

.modal-content {
  width: 500px;
  background-color: white;
  transform: translateY(-200px);
  transition: all 0.6s ease-in-out;
  padding: 10px;
}

.modal-header{
  display: flex;
  justify-content: center;
}

.modal-header .modal-footer{
  padding: 10px;
}

.modal-title{
  margin: 0;
}

.modal-body {
  padding: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  margin: 0 auto;
  font-size: 18px;
}

.modal.show {
  opacity: 1;
  pointer-events: visible;
}

.modal.show .modal-content{
  transform: translateY(0);
}

.modal-footer{
  display: flex;
  justify-content: flex-end;
}

/* -------------- New Player Form -------------- */

/* .newPlayer {
  width: 500px;
  margin: 0 auto;
} */
.new-player-form{
  display: flex;
  flex-direction: column;
}

/* -------------- All Players View -------------- */
.playerSection{
  width: 100%;
  border: solid 1px black;
  display: flex;
  flex-direction: column;
}

.playerCard{
  width: 98%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
  font-size: 18px;
  cursor: pointer;
}

.playerCard:hover{
  background-color: #00a683;
  color: white;
}


.btnSection{
  display: flex;
}

.cardBtn{
  cursor: pointer;
}

.cardBtn:hover{
  color: crimson;
}

/* -------------- Field Alignment -------------- */

.field{
  display: flex;
  flex-direction: column;
}

.court{
  position: relative;
}

.court img{
  width: 450px;
}

.positions{
  position: absolute;
  top: 10px;
}

.select{
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

#alignSelect{
  width: 150px;
}

.position{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 450px;
}

.line{
  display: inline-flex;
  margin-bottom: 25px;
}

.place{
  width: 40px;
  height: 40px;
  margin: 7px 25px;
  border: solid 1px white;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ------------- Details View ------------- */

.details .label{
  font-weight: 500;
}